@model IEnumerable<MetadataReader.Models.ScheduledImage>

<table class="table table-striped">
    <thead>
    <tr>
        <th>File name</th>
        <th>Url</th>
        <th>Created Date</th>
        <th>Completed Date</th>
    </tr>
    </thead>
    @foreach (var img in Model)
    {
        <tr>
            <td><a href="@Url.Action("Show", "ScheduledImages", new { Id = img.Id })">@img.FileName</a></td>
            <td>@img.DownloadUrl</td>
            <td>@img.CreatedDate</td>
            <td>@img.JobCompletedDate</td>
        </tr>
    }
</table>